body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF7F50;
  }
  
  .card {
    background-color: #DEB887;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #FF7F50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .social-icons {
    margin-top: 5px;
  }

  
  
  .social-icons a {
    width: 30px;
    height: 30px;
  }
  
  .android .card {
    width: 90%;
    max-width: 350px;
  }

  button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px; /* Untuk memberi jarak antara ikon dan teks */
  }
  .img-icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
  }
  .profile-info img {
    width: 50%;
    height: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }